<h1>Invalid path</h1>
<p>
  User at IP address: <%= @ip %>,
</p>
<p>
  The path you chose does not lead anywhere. Choose more wisely next time.
</p>

<img src="http://www.kgs.ku.edu/Publications/OFR/2007/OFR07_18/gifs/fig5.jpg" alt="A road" />
